* { 
    margin: 0px; 
    padding: 0px; 
}

body {
    background-color: #000000;
    color: #FFF; 
}

.main {
    width: 80%;
    margin:auto;
}

.header {
    background-color: #5aa1d4;
}

.logo_container {
    max-width: 500px;
    margin: auto;
}

#logo {
    width:100%;
}